{
    "env": {
        "es6": true
    },

    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": ["next", "react", "jsx-a11y", "import"],
    "rules": {
        "react/jsx-filename-extension": 0
    },
    "parserOptions": {
        "ecmaVersion": 6
    }
}